@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
/*font-family: 'Mouse Memoirs', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}


/*CABEÇALHO*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.671);
    font-family: 'Mouse Memoirs', sans-serif;
    margin-bottom: 25px;
}

.cabecalho-titulo{
    margin: 10px;
    margin-left: 30px;
}

.titulo-1{
    color: white;
}

.titulo-2 {
    color: rgba(255, 255, 0, 0.89);
}

.cabecalho-lista {
    margin-right: 15%;

}

a {
    color: white;
}

a:hover{
    color: yellow;
    transition: 0.5s all;
}

li {
    display: inline-block;
    margin: 15px;
}

#escolher-btn {

    border: 1.5px solid white;
    border-radius: 6px;
    padding: 2px;

}

#escolher-btn:hover{
    background-color: rgba(255, 255, 0, 0.821);
    color: black;
}

/*CONTEÚDO*/

body{
    background-color: green;
}

/*rodapé*/