@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
/*font-family: 'Mouse Memoirs', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}


/*CABEÇALHO*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.671);
    font-family: 'Mouse Memoirs', sans-serif;
    margin-bottom: 25px;
}

.cabecalho-titulo{
    margin: 10px;
    margin-left: 40px;
}

.titulo-1{
    color: white;

}

.titulo-2 {
    color: rgba(255, 255, 0, 0.89);
}

.cabecalho-lista {
    margin-right: 15%;
    font-size: 22px;

}

.lista-elemento {
    margin-right: 20px;
}

a {
    color: white;
}

a:hover{
    color: yellow;
    transition: 0.5s all;
}

li {
    display: inline-block;
    margin: 15px;
}

#escolher-btn {

    border: 1.5px solid white;
    border-radius: 6px;
    padding: 2px;

}

#escolher-btn:hover{
    background-color: rgba(255, 255, 0, 0.821);
    color: black;
}

/*CONTEÚDO*/

body{
    background-color: rgb(0, 128, 0)
}

.conteudo {
    font-family: 'Mouse Memoirs', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    color: rgba(0, 0, 255, 0.612);
    display: flex;
}

.conteudo-principal{
    width: 45%;
    font-size: 20px;
}

#principal-highlight{
    color: rgba(255, 255, 0, 0.945) ;
}

.principal-formulario {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.form-element{
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 65%;
    padding: 5px;
    align-self: 20%;
    font-family: 'Mouse Memoirs', sans-serif;
}

.form-submit {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: none;
    align-self: 40%;
    font-family: 'Mouse Memoirs', sans-serif;
    
}

.form-submit:hover{
    background-color: rgba(0, 0, 255, 0.612);
    color: yellow;
    transition: 0.3s all;
    cursor: pointer;
    
}

.conteudo-imagem {

    
}

#imagem-img {
    width: 600px;
    border-radius: 30px;
}



/*rodapé*/

.rodape {
    display: flex;
    padding: 30px;
}